<div class="container" id="userspage">

    <div class="title">
        <h1>{{"signupColumns.signup"|translate}}</h1>
    </div>

    <!-- SELECT currency and anonymouse account -->
    <div class="row">
        <div style="width: 100%">
            <div class="row">
                <div class="col-12 col-md-6">

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text fa fa-money"></span>
                            <span class="input-group-text">{{"signupColumns.selectCurrency"|translate}}</span>
                        </div>
                        <select name="ops" [(ngModel)]="_currencySelected" (change)="getColumnsBySiteCountryCurrency()">
                            <option *ngFor="let c of _currency" [value]="c.currency"  >{{c.currency}} </option>
                          </select>
                    </div>

                </div>
                <div class="col-md-3">

                    <ng-container *ngFor="let item of _siteByPlayerForCountryCurrency">
                        <ng-container *ngIf="item.idSignUpColumn > 0">
                            <ng-container [ngSwitch]="item.name">

                                <ng-container *ngSwitchCase="'Anonymous Account'" style="width:75%; margin:auto;">
                                    <button type="button" class="Anonymous Account btn btn-danger btn-block">    <!--    (click)="confirmAnonymousAccount(true, formAnonymousAccount)" -->
                                      <i class="fa fa-left fa fa-user"></i>
                                      {{item.pathLanguage | translate}}
                                  </button>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>

    <!-- FORM -->
    <div class="row">
        <form id="formInsertPlayer" name="formInsertPlayer" #formInsertPlayer="ngForm" (ngSubmit)="formInsertPlayer.valid && insertPlayer() " novalidate>
            <div class="card bg-light mb-3 p-3">
                <div class="row">
                    <div class="col-md-9">

                        <div class="row">
                            <ng-container *ngFor="let item of _siteByPlayerForCountryCurrency">
                                <div *ngIf="item.idSignUpColumn > 0  &&
                                      item.name != 'Facebook' &&  item.name != 'Google' &&
                                      item.name != 'Currency' && item.name!= 'Anonymous Account' &&
                                      item.name != 'Sportsbook' && item.name != 'Casino' &&
                                      item.name != 'Racebook' && item.name != 'Poker' &&
                                      item.name != 'Promotional Code' && item.name != 'Hear' &&
                                      item.name != 'Referral Account' &&
                                      item.name != 'Terms and Conditions'" class="form-group col-12 col-md-6">
                                    <div>
                                        <div *ngIf="item.name != 'Title' && item.name != 'Country' &&
                item.name != 'Password' && item.name != 'Date of Birth' &&
                item.name != 'Password Confirmation' && item.name != 'Email' &&
                item.name != 'Email Confirmation' && item.name != 'State' &&
                item.name != 'Facebook' &&  item.name != 'Google' &&
                item.name != 'Currency' && item.name!= 'Anonymous Account' &&
                item.name != 'Sportsbook' && item.name != 'Casino' &&
                item.name != 'Racebook' && item.name != 'Poker' &&
                item.name != 'Promotional Code' && item.name != 'Hear' &&
                item.name != 'Referral Account' &&
                item.name != 'Terms and Conditions'; else inputParamsDifferents;" class="form-group">
                                            <div *ngIf="item.mandatoryField; else inputParamsRequired">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text {{item.name}}-icon">
                                                          <small
                                                              *ngIf="formInsertPlayer.submitted && !item.value">*</small>
                                                      </span>
                                                    </div>
                                                    <input name="{{item.name}}Required" #{{item.name}}Required="ngModel" type="text" class="form-control inner-addon left-addon" id="{{item.name}}" placeholder="{{item.pathLanguage | translate}}" [(ngModel)]="item.value" required>
                                                    <small class="error-msg-1" *ngIf="formInsertPlayer.submitted && !item.value">{{"signupMessages.typeCorrectly"|translate}}</small>
                                                </div>
                                            </div>
                                            <ng-template #inputParamsRequired class="form-group">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text {{item.name}}-icon"></span></div>
                                                    <input name="{{item.name}}NotRequired" #{{item.name}}NotRequired="ngModel" type="text" class="form-control inner-addon left-addon" id="{{item.name}}" placeholder="{{item.pathLanguage | translate}}" [(ngModel)]="item.value">
                                                </div>
                                            </ng-template>
                                        </div>

                                        <ng-template #inputParamsDifferents class="form-group">
                                            <div *ngIf="item.mandatoryField != true; else inputParamsDifferentsReq">
                                                <div [ngSwitch]="item.name">
                                                    <div *ngSwitchCase="'Title'">
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text fa fa-user"></span>
                                                            </div>
                                                            <select name="{{item.name}}" class="drop" #{{item.name}}="ngModel" [(ngModel)]="item.value">
                                                            <option *ngFor="let t of _title" [value]="t.title"  >{{t.title}} </option>
                                                          </select>
                                                        </div>
                                                    </div>
                                                    <div *ngSwitchCase="'Country'">
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text fa fa-globe"></span>
                                                            </div>
                                                            <!-- placeholder="{{item.pathLanguage | translate}}" -->
                                                            <select name="{{item.name}}" (change)="getState(item)" class="drop" #{{item.name}}="ngModel" [(ngModel)]="item.value">
                                                            <option *ngFor="let c of _country" [value]="c.country"  >{{c.country}} </option>
                                                          </select>
                                                        </div>
                                                    </div>

                                                    <div *ngSwitchCase="'State'">
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text fa fa-globe"></span>
                                                            </div>
                                                            <!-- placeholder="{{item.pathLanguage | translate}}" -->
                                                            <select name="{{item.name}}" class="drop" #{{item.name}}="ngModel" [(ngModel)]="item.value">
                                                                <option *ngFor="let s of _state" [value]="s.state"  >{{s.state}} </option>
                                                              </select>
                                                        </div>
                                                    </div>
                                                    <div class="calend">
                                                        <div *ngSwitchCase="'Date of Birth'">
                                                            <div class="input-group mb-3">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text fa fa-birthday-cake"></span>
                                                                </div>
                                                                <input class="calen" type="date" name="{{item.name}}" (change)="validateDate(item.value)" #dateBirth="ngModel" placeholder="{{item.pathLanguage | translate}}" [(ngModel)]="item.value" step="1" min="1920-01-01" max="_today" value="_today">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div *ngSwitchCase="'Email'">
                                                        <div [ngClass]="{ 'c-error': formInsertPlayer.submitted && (Email.errors?.pattern || Email.errors?.required) }">

                                                            <div class="input-group mb-3">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text fa fa-envelope">
                                                                      <small
                                                                          *ngIf="formInsertPlayer.submitted && !item.value">*</small>
                                                                  </span>
                                                                </div>
                                                                <input [name]="item.name" #Email="ngModel" class="form-control" type="email" [(ngModel)]="item.value" placeholder="{{item.pathLanguage | translate}}" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,3}$" required />
                                                                <small class="error-msg-1" *ngIf="formInsertPlayer.submitted && !Email.valid">{{"signupMessages.typeCorrectly"|translate}}</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div *ngSwitchCase="'Email Confirmation'">
                                                        <div [ngClass]="{ 'c-error': formInsertPlayer.submitted && (EmailConfirmation.errors?.pattern || EmailConfirmation.errors?.required) || !validateEmail(item.value) }">
                                                            <div class="input-group mb-3">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text fa fa-envelope">
                                                                      <small
                                                                          *ngIf="formInsertPlayer.submitted && !item.value">*</small>
                                                                  </span>
                                                                </div>
                                                                <input [name]="item.name" #EmailConfirmation="ngModel" class="form-control" type="email" [(ngModel)]="item.value" placeholder="{{item.pathLanguage | translate}}" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,3}$" required />

                                                                <small class="error-msg-1" *ngIf="formInsertPlayer.submitted && !EmailConfirmation.valid">{{"signupMessages.typeCorrectly"|translate}}
                                                                  {{item.name}}</small>

                                                                <small class="error-msg-2" *ngIf="formInsertPlayer.submitted && !validateEmail(item.value) ">{{"signupMessages.emailDontMatch"|translate}}</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div *ngSwitchCase="'Currency'">
                                                        <div>
                                                            <select name="{{item.name}}" class="drop" #{{item.name}}="ngModel" [(ngModel)]="item.value">
                                                              <option *ngFor="let c of _currency" [value]="c.currency"  >{{c.currency}} </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div *ngSwitchCase="'Password'">
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend"><span class="input-group-text fa fa-unlock-alt"></span>
                                                            </div>
                                                            <input name="{{item.name}}" #{{item.name}}="ngModel" class="form-control" id="password" #pass pPassword type="password" [(ngModel)]="item.value" placeholder="{{item.pathLanguage | translate}}" />
                                                        </div>
                                                    </div>
                                                    <div *ngSwitchCase="'Password Confirmation'">
                                                        <div [ngClass]="{ 'c-error': formInsertPlayer.submitted && (PasswordValid.errors?.pattern || PasswordValid.errors?.required) || !validatePassword(_password2) }">
                                                            <div class="input-group mb-3">
                                                                <div class="input-group-prepend"><span class="input-group-text fa fa-unlock-alt"></span>
                                                                </div>
                                                                <input name="item.name" #PasswordValid="ngModel" class="form-control" id="password2" pPassword type="password" pPassword [(ngModel)]="_password2" placeholder="{{item.pathLanguage | translate}}" />
                                                                <small class="error-msg-1" *ngIf="formInsertPlayer.submitted && !validatePassword(_password2) ">{{"signupMessages.passwordDontMatch"|translate}}</small>
                                                            </div>
                                                        </div>
                                                    </div>



                                                </div>
                                            </div>

                                            <ng-template #inputParamsDifferentsReq class="form-group">
                                                <div [ngSwitch]="item.name">
                                                    <div *ngSwitchCase="'Title'">
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text fa fa-user">
                                                                  <small
                                                                      *ngIf="formInsertPlayer.submitted && !item.value">*</small>
                                                              </span>
                                                            </div>
                                                            <!-- placeholder="{{item.pathLanguage | translate}}" -->
                                                            <select name="{{item.name}}" class="drop" #{{item.name}}="ngModel" [(ngModel)]="item.value">
                                                              <option *ngFor="let t of _title" [value]="t.title"  >{{t.title}} </option>
                                                            </select>
                                                            <small class="error-msg-1" *ngIf="formInsertPlayer.submitted && !item.value">{{"signupMessages.typeCorrectly"|translate}}</small>
                                                        </div>
                                                    </div>

                                                    <div *ngSwitchCase="'Country'">
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text fa fa-map-marker">
                                                                  <small
                                                                      *ngIf="formInsertPlayer.submitted && !item.value">*</small>
                                                              </span>
                                                            </div>
                                                            <!-- placeholder="{{item.pathLanguage | translate}}" -->
                                                            <select name="{{item.name}}" (change)="getState(item)" class="drop" #{{item.name}}="ngModel" [(ngModel)]="item.value" required>
                                                                <option *ngFor="let c of _country" [value]="c.country"  >{{c.country}} </option>
                                                              </select>
                                                            <small class="error-msg-1" *ngIf="formInsertPlayer.submitted && !item.value">{{"signupMessages.typeCorrectly"|translate}}</small>
                                                        </div>
                                                    </div>

                                                    <div *ngSwitchCase="'State'">
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text fa fa-map-marker">
                                                                  <small
                                                                      *ngIf="formInsertPlayer.submitted && !item.value">*</small>
                                                              </span>
                                                            </div>
                                                            <!-- placeholder="{{item.pathLanguage | translate}}" -->
                                                            <select name="{{item.name}}" (change)="getState(item)" class="drop" #{{item.name}}="ngModel" [(ngModel)]="item.value" required>
                                                              <option *ngFor="let c of _country" [value]="c.country"  >{{c.country}} </option>
                                                            </select>
                                                            <small class="error-msg-1" *ngIf="formInsertPlayer.submitted && !item.value">{{"signupMessages.typeCorrectly"|translate}}</small>
                                                        </div>
                                                    </div>


                                                    <div class="calend">
                                                        <div *ngSwitchCase="'Date of Birth'">
                                                            <div class="input-group mb-3">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text fa fa-birthday-cake">
                                                                      <small
                                                                          *ngIf="formInsertPlayer.submitted && !item.value">*</small>
                                                                  </span>
                                                                </div>
                                                                <input class="calen" type="date" name="{{item.name}}" (change)="validateDate(item.value)" dateOfBirth #dateBirth="ngModel" placeholder="{{item.pathLanguage | translate}}" [(ngModel)]="item.value" step="1" min="1920-01-01" max="_today" value="_today" required>
                                                                <small class="error-msg-1" *ngIf="formInsertPlayer.submitted && !validateDate(item.value)">{{"signupMessages.older18"|translate}}
                                                              </small>
                                                                <small class="error-msg-1" *ngIf="formInsertPlayer.submitted && !item.value">{{"signupMessages.typeCorrectly"|translate}}</small>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div *ngSwitchCase="'Email'">
                                                        <div [ngClass]="{ 'c-error': formInsertPlayer.submitted && (Email.errors?.pattern || Email.errors?.required) }">
                                                            <div class="input-group mb-3">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text fa fa-envelope">
                                                                      <small
                                                                          *ngIf="(formInsertPlayer.submitted && !item.value) || (formInsertPlayer.submitted && !Email.valid)">*</small>
                                                                  </span>
                                                                </div>
                                                                <input [name]="item.name" #Email="ngModel" class="form-control" type="email" [(ngModel)]="item.value" placeholder="{{item.pathLanguage | translate}}" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,3}$" required />
                                                                <small class="error-msg-1" *ngIf="formInsertPlayer.submitted && !Email.valid">{{"signupMessages.typeCorrectly"|translate}}</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div *ngSwitchCase="'Email Confirmation'">
                                                        <div [ngClass]="{ 'c-error': formInsertPlayer.submitted && (EmailConfirmation.errors?.pattern || EmailConfirmation.errors?.required) || !validateEmail(item.value) }">
                                                            <div class="input-group mb-3">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text fa fa-envelope">
                                                                      <small
                                                                          *ngIf="formInsertPlayer.submitted && !item.value">*</small>
                                                                  </span>
                                                                </div>
                                                                <input [name]="item.name" #EmailConfirmation="ngModel" class="form-control" type="email" [(ngModel)]="item.value" placeholder="{{item.pathLanguage | translate}}" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,3}$" required />

                                                                <small class="error-msg-1" *ngIf="formInsertPlayer.submitted && !EmailConfirmation.valid">{{"signupMessages.typeCorrectly"|translate}}</small>

                                                                <small class="error-msg-2" *ngIf="formInsertPlayer.submitted && !validateEmail(item.value) ">{{"signupMessages.emailDontMatch"|translate}}</small>

                                                                <small class="error-msg-1" *ngIf="formInsertPlayer.submitted && !item.value">{{"signupMessages.typeCorrectly"|translate}}</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div *ngSwitchCase="'Password'">
                                                        <div [ngClass]="{ 'c-error': formInsertPlayer.submitted && (password.errors?.pattern || password.errors?.required) }">
                                                            <div class="input-group mb-3">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text fa fa-unlock-alt">
                                                                      <small
                                                                          *ngIf="formInsertPlayer.submitted && !item.value">*</small>
                                                                  </span>
                                                                </div>
                                                                <input name="{{item.name}}" #password="ngModel" id="password" class="form-control" pPassword type="password" [(ngModel)]="item.value" placeholder="{{item.pathLanguage | translate}}" required />
                                                                <small class="error-msg-1" *ngIf="formInsertPlayer.submitted && !item.value">{{"signupMessages.typeCorrectly"|translate}}</small>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div *ngSwitchCase="'Password Confirmation'">
                                                        <div [ngClass]="{ 'c-error': formInsertPlayer.submitted && (PasswordValid.errors?.pattern || PasswordValid.errors?.required) || !validatePassword(_password2) }">
                                                            <div class="input-group mb-3">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text fa fa-unlock-alt">
                                                                      <small
                                                                          *ngIf="formInsertPlayer.submitted && !PasswordValid.value">*</small>
                                                                  </span>
                                                                </div>
                                                                <input name="item.name" #PasswordValid="ngModel" class="form-control" id="password2" pPassword type="password" pPassword [(ngModel)]="_password2" placeholder="{{item.pathLanguage | translate}}" />
                                                                <small class="error-msg-1" *ngIf="formInsertPlayer.submitted && !validatePassword(_password2) ">{{"signupMessages.passwordDontMatch"|translate}}</small>
                                                                <small class="error-msg-2" *ngIf="formInsertPlayer.submitted && !_password2">{{"signupMessages.typeCorrectly"|translate}}</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </ng-template>
                                    </div>
                                </div>
                            </ng-container>



                        </div>
                    </div>

                    <!-- <div class="col-md-3">
                      <ng-container *ngFor="let item of _urlImages">
                          <ng-container>
                              <img class="tests" src="{{item.urls}}" width="250" height="50">
                          </ng-container>
                      </ng-container>
                  </div> -->

                </div>
            </div>
        </form>
    </div>

    <!-- HEAR -->
    <div class="row interests card bg-light mb-3 p-3" *ngIf="hearVisible">
        <ng-container *ngFor="let item of _siteByPlayerForCountryCurrency">
            <div class="row" *ngIf="item.name == ('Hear' || 'Promotional Code' || 'Referral Account')">
                <ng-container *ngFor="let item of _siteByPlayerForCountryCurrency">
                    <ng-container *ngIf="item.idSignUpColumn > 0">
                        <ng-container [ngSwitch]="item.name">
                            <div class="col-12 col-md-4" *ngSwitchCase="'Hear'">
                                <div class="input-group mt-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text {{item.name}}-icon"></span></div>
                                    <input name="{{item.name}}NotRequired" #{{item.name}}NotRequired="ngModel" type="text" class="form-control inner-addon left-addon" id="{{item.name}}" placeholder="{{item.pathLanguage | translate}}" [(ngModel)]="item.value">
                                </div>
                            </div>
                            <div class="col-12 col-md-4" *ngSwitchCase="'Promotional Code'">
                                <div class="input-group mt-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text {{item.name}}-icon"></span></div>
                                    <input name="{{item.name}}NotRequired" #{{item.name}}NotRequired="ngModel" type="text" class="form-control inner-addon left-addon" id="{{item.name}}" placeholder="{{item.pathLanguage | translate}}" [(ngModel)]="item.value">
                                </div>
                            </div>
                            <div class="col-12 col-md-4" *ngSwitchCase="'Referral Account'">
                                <div class="input-group mt-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text {{item.name}}-icon"></span></div>
                                    <input name="{{item.name}}NotRequired" #{{item.name}}NotRequired="ngModel" type="text" class="form-control inner-addon left-addon" id="{{item.name}}" placeholder="{{item.pathLanguage | translate}}" [(ngModel)]="item.value">
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                </ng-container>

            </div>
        </ng-container>
    </div>


    <!-- INTERESTS -->
    <div class="row interests card bg-light mb-3 p-3" *ngIf="interestsVisible == true">
        {{"signupColumns.interests"|translate}}
        <ng-container *ngFor="let item of _siteByPlayerForCountryCurrency">
            <div class="row" *ngIf="item.name == ('Sportsbook'||'Casino'||'Racebook'||'Poker')">
                <ng-container *ngFor="let item of _siteByPlayerForCountryCurrency">
                    <ng-container *ngIf="item.idSignUpColumn > 0">
                        <ng-container [ngSwitch]="item.name">
                            <div class="col-md-3" *ngSwitchCase="'Sportsbook'">
                                <div>{{item.pathLanguage|translate}}
                                    <input type="checkbox" name="{{item.name}}" #{{item.name}}="ngModel" [(ngModel)]="sportsBook" binary="true"> {{item.value}}
                                </div>
                            </div>
                            <div class="col-md-3 casinointe" *ngSwitchCase="'Casino'">
                                <div>{{item.pathLanguage|translate}}
                                    <input type="checkbox" name="{{item.name}}" #{{item.name}}="ngModel" [(ngModel)]="casino" binary="true"> {{item.value}}
                                </div>
                            </div>
                            <div class="col-md-3" *ngSwitchCase="'Racebook'">
                                <div>{{item.pathLanguage|translate}}
                                    <input type="checkbox" name="{{item.name}}" #{{item.name}}="ngModel" [(ngModel)]="racebook" binary="true"> {{item.value}}
                                </div>
                            </div>
                            <div class="col-md-3 Pokerinte" *ngSwitchCase="'Poker'">
                                <div>{{item.pathLanguage|translate}}
                                    <input type="checkbox" name="{{item.name}}" #{{item.name}}="ngModel" [(ngModel)]="poker" binary="true"> {{item.value}} </div>
                            </div>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>

        </ng-container>
    </div>

    <!-- BUTTONS -->
    <div class="row">

        <div *ngIf="termsConditionsVisible == true; else withoutTerms;">
            <div class="col-md-12" style="display: block;background-color: #fff;border: 1px solid #bdbdbd;overflow: auto;height: 250px;border-radius: 5px;padding: 15px 15px 15px 25px;font-size: 12px;">
                <div *ngFor="let item of termsConditions">
                    {{item.p}}
                </div>
            </div>
            <div>
                <input type="checkbox" name="AcceptTermsConditions" [(ngModel)]="acceptTermsConditions" binary="false">{{'signupColumns.acceptHouseRules'|translate}}
                <div class="col-md-3 mb-3 p-3">
                    <button [disabled]="!acceptTermsConditions" form="formInsertPlayer" type="submit" class="btn btn-success btn-block"> {{'signupColumns.btnSignup'|translate}}
                        <i class="fa fa-left fa-plus"></i>
                      </button>
                </div>
                <div class="col-md-3 mb-3 p-3">
                    <ng-container *ngFor="let item of _siteByPlayerForCountryCurrency">
                        <div *ngIf="item.idSignUpColumn > 0">
                            <div [ngSwitch]="item.name">
                                <div *ngSwitchCase="'Facebook'">
                                    <div>
                                        <button [disabled]="!acceptTermsConditions" class="loginBtn loginBtn--facebook btn-block" label="Open a NewAccount" (click)="socialSignIn('facebook')">SignUp
                                      with Facebook</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="col-md-3 mb-3 p-3">
                    <ng-container *ngFor="let item of _siteByPlayerForCountryCurrency">
                        <div *ngIf="item.idSignUpColumn > 0">
                            <div [ngSwitch]="item.name">
                                <div *ngSwitchCase="'Google'">
                                    <div>
                                        <button [disabled]="!acceptTermsConditions" class="loginBtn loginBtn--google  btn-block" (click)="socialSignIn('google')">SignUp
                                      with Google
                                  </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>

        <ng-template #withoutTerms>

            <div class="col-md-3 mb-3 p-3">
                <button type="submit" form="formInsertPlayer" class="btn btn-success btn-block">{{'signupColumns.btnSignup'|translate}}<i
                  class="fa fa-left fa-plus"></i></button>
            </div>

            <div class="col-md-3 mb-3 p-3">
                <button type="button" class="btn btn-success btn-block btn-confirm" (click)="showResendEmail()">{{'signupColumns.resendEmail'|translate}}<i
                  class="fa fa-left fa-plus"></i></button>
            </div>

            <div class="col-md-3 mb-3 p-3">
                <ng-container *ngFor="let item of _siteByPlayerForCountryCurrency">
                    <div *ngIf="item.idSignUpColumn > 0">
                        <div [ngSwitch]="item.name">
                            <div *ngSwitchCase="'Facebook'">
                                <div>
                                    <button class="loginBtn loginBtn--facebook btn-block" label="Open a NewAccount" (click)="socialSignIn('facebook')">SignUp
                                  with Facebook</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="col-md-3 mb-3 p-3">
                <ng-container *ngFor="let item of _siteByPlayerForCountryCurrency">
                    <div *ngIf="item.idSignUpColumn > 0">
                        <div [ngSwitch]="item.name">
                            <div *ngSwitchCase="'Google'">
                                <div>
                                    <button class="loginBtn loginBtn--google  btn-block" (click)="socialSignIn('google')">SignUp
                                  with Google
                              </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-template>
    </div>


    <!-- ANONYMOUSE ACCOUNT DIALOG -->
    <div class="moda">
        <div class="overbox" *ngIf="_anonymousAccount">


            <!-- <p-dialog id="dialogAddEmail" header="{{'signupColumns.anonymousAccount'|translate}}"
      [(visible)]="_anonymousAccount" (onHide)="hideAnonymousAccount(formAnonymousAccount)" class="overbox"> -->
            <form id="formAnonymousAccount" name="formAnonymousAccount" #formAnonymousAccount="ngForm" (ngSubmit)="formAnonymousAccount.valid && insertAnonymousPlayer()" novalidate>
                <div [ngClass]="{ 'c-error': formAnonymousAccount.submitted && (Email.errors?.pattern || Email.errors?.required) }">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text fa fa-envelope">
                          <small
                              *ngIf="(formAnonymousAccount.submitted && !emailAA) || (formAnonymousAccount.submitted && !Email.valid)">*</small>
                      </span>
                        </div>
                        <input [name]="Email" #Email="ngModel" class="form-control" type="email" [(ngModel)]="emailAA" placeholder="{{'signupColumns.email' | translate}}" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,3}$" required />
                        <small class="error-msg-1" *ngIf="formAnonymousAccount.submitted && !Email.valid">{{"signupMessages.typeCorrectly"|translate}}</small>
                    </div>
                </div>


                <div [ngClass]="{ 'c-error': formAnonymousAccount.submitted && (EmailConfirmation.errors?.pattern || EmailConfirmation.errors?.required) || !validateEmailAnonymous()}">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text fa fa-envelope">
                          <small *ngIf="formAnonymousAccount.submitted && !emailAAConfirm">*</small>
                      </span>
                        </div>
                        <input [name]="EmailConfirmation" #EmailConfirmation="ngModel" class="form-control" type="email" [(ngModel)]="emailAAConfirm" placeholder="{{'signupColumns.emailConfirmation' | translate}}" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,3}$" required
                        />

                        <small class="error-msg-1" *ngIf="formAnonymousAccount.submitted && !EmailConfirmation.valid">{{"signupMessages.typeCorrectly"|translate}}</small>

                        <small class="error-msg-2" *ngIf="formAnonymousAccount.submitted  && !validateEmailAnonymous()">{{"signupMessages.emailDontMatch"|translate}}</small>

                    </div>
                </div>
            </form>
            <div id="userspage">
                <button form="formAnonymousAccount" type="submit" class="btn btn-success btn-block"><i class="fa fa-left fa-plus"></i>{{'signupColumns.btnSignup'|translate}}</button>
            </div>
        </div>
    </div>



    <ngx-loading [show]="loading">
    </ngx-loading>
